<?xml version='1.0' encoding='utf-8'?>
<widget id="com.igz.geoshare" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IGZEnterpriseGeoshare</name>
    <description>
        Intelygenz open source system to share temporaly geolocation between people of the same Google Apps domain.
    </description>
    <author email="intelygenz@gmail.com" href="http://www.intelygenz.com">
        Intelygenz
    </author>
    <content src="index.html" />
    <access origin="*" />
	<access origin="*.google.com"/>
    <access origin="*.googleapis.com"/>
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
</widget>
