.breadcrumb {
  margin-bottom: 15px;
  list-style: none; 
  overflow: hidden; 
  font: 15px Helvetica, Arial, Sans-Serif;
}

.breadcrumb li { 
  float: left; 
}
.breadcrumb li a {
  color: white;
  text-decoration: none; 
  padding: 10px 0 10px 65px;
  
  background-color: #478e47;

  position: relative; 
  display: block;
  float: left;
}

.breadcrumb li a:after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;

  border-left: 30px solid #478e47;
  
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2; 
}

.breadcrumb li a:before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;       
  border-bottom: 50px solid transparent;

  border-left: 30px solid #272b30;
  
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
}

.breadcrumb li:first-child a {
  padding-left: 10px;
}

.breadcrumb li:nth-child(2) a       { background-color:        #51a351; }
.breadcrumb li:nth-child(2) a:after { border-left-color: #51a351; }
.breadcrumb li:nth-child(3) a       { background:        #69ad69; }
.breadcrumb li:nth-child(3) a:after { border-left-color: #69ad69; }
.breadcrumb li:nth-child(4) a       { background:        #74bf74; }
.breadcrumb li:nth-child(4) a:after { border-left-color: #74bf74; }
.breadcrumb li:nth-child(5) a       { background:        #65b565; }
.breadcrumb li:nth-child(5) a:after { border-left-color: #65b565; }
.breadcrumb li:last-child a {
  color: black;
  pointer-events: none;
  cursor: default;
}

.breadcrumb li a:hover { background: #247a24; }
.breadcrumb li a:hover:after { border-left-color: #247a24 !important; }